@import "tailwindcss";
/* Définition des polices et couleurs globales */
:root {
    --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --color-text-light: #213547;
    --color-text-dark: rgba(255, 255, 255, 0.87);
    --color-bg-light: #ffffff;
    --color-bg-dark: #242424;
    --color-primary: #646cff;
    --color-primary-hover: #535bf2;
    --border-radius-btn: 0.5rem; /* 8px */
}

/* Polices et rendu texte */
body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

    color: var(--color-text-dark);
    background-color: var(--color-bg-dark);
}

/* Titres */
h1 {
    font-size: 3.2em;
    line-height: 1.1;
    font-family: inherit;
    font-weight: 700;
}

/* Liens */
a {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: inherit;
}
a:hover {
    color: var(--color-primary-hover);
}

/* Boutons */
button {
    border-radius: var(--border-radius-btn);
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
    border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        color: var(--color-text-light);
        background-color: var(--color-bg-light);
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}